.root{
   position: relative;
}

.input {
   border: 1px solid #e0e0e0;
   padding: 12px 20px;
   width: 300px;
   border-radius: 12px;
   font-size: 16px;

   &:focus {
      border-color: #ff5f1e;
   }
}

.icon {
   width: 24px;
   height: 24px;
   opacity: 0.5;
   position: absolute;
   left: 260px;
   top: 12px;
}