.containerStyle {
   text-align: center;
   margin-top: 50px;
 }
 
 .linkStyle {
   display: inline-block;
   margin-top: 20px;
   padding: 10px 20px;
   font-size: 18px;
   color: #007bff;
   text-decoration: none;
   border: 1px solid #007bff;
   border-radius: 5px;
 }
 